@import "tailwindcss";

@theme {
    --color-primary: #f1f4bb;
    --color-secondary: #fbd1a2;
    --color-tertiary: #f79256;
    --color-success: #7dcfb6;
    --color-success-dark: #365E52;
    --color-background: #733a27
}
