<div class="bg-white/60 border border-background/40 rounded-2xl shadow-md overflow-hidden">

    <!-- Post Header -->
    <div class="flex items-center gap-3 p-4">
        @if (post.owner_profile_pic_url){
            <img class="w-10 h-10 rounded-full border border-background object-cover" [src]="profilePicApiUrl + post.owner_profile_pic_url" alt="profile" />
        }
        @else{
            <img class="w-10 h-10 rounded-full border border-background object-cover" src="default_profile_pic.png" alt="profile" />
        }
        <div>
            <p class="font-semibold text-background">{{ post.owner_username }}</p>
        
            @if (post.last_updated){
                <p class="text-xs text-background">Last edited: 
                <span class="text-gray-600">{{ moment(post.last_updated).fromNow() }}</span>
                </p>
            }
            @else{
                <p class="text-xs text-background">Posted: 
                <span class="text-gray-600">{{ moment(post.created_date).fromNow() }}</span>
                </p>
            }
        </div>
    </div>

    <!-- Main Post Content -->
    @if (post.picture_url) {
        <img [src]="postImageApiUrl + post.picture_url" class="w-full max-h-[400px] object-cover" />
    }
    @if (post.content){
        <div class="px-4 py-3">
            <p class="text-gray-700">{{ post.content }}</p>
        </div>
    }

    <!-- Actions -->
    <div class="flex items-center justify-between px-4 py-3 border-background/40 border-t">

        <button class="flex items-center gap-2 text-background"
        [disabled]="post.comment_count == 0"
        (click)="toggleShowComments()">
            💬 <span class="hover:underline">{{ post.comment_count }} Comments</span>
        </button>

        <div class="flex items-center gap-2 text-background">
            @if(post.has_liked){
                <button class="text-lg" (click)="removeLike()">❤️</button>
            }
            @else{
                <button class="text-lg" (click)="addLike()">♡</button>
            }
            <span>{{ post.like_count }} Likes</span>
        </div>

    </div>

    @if(showComments){
        <!-- Show comments on post -->
        @for (comment of comments; track comment.id) {

        <div class="flex gap-3 m-4">

            @if (comment.owner_profile_pic_url){
                <img class="w-10 h-10 rounded-full border border-background object-cover" [src]="profilePicApiUrl + comment.owner_profile_pic_url" alt="profile" />
            }
            @else{
                <img class="w-10 h-10 rounded-full border border-background object-cover" src="default_profile_pic.png" alt="profile" />
            }

            <div class="flex-1">

                <div class="bg-white rounded-2xl px-4 py-2 shadow-sm">
                    <p class="font-medium text-sm">
                        {{ comment.owner_username }}
                    </p>

                    <p class="text-sm text-gray-700">
                        {{ comment.content }}
                    </p>
                </div>

                <p class="text-xs text-gray-600 mt-1 ml-2">
                    {{ moment(comment.created_date).fromNow() }}
                </p>

            </div>

        </div>
        }
    }

    <!-- Write comment -->
    <div class="flex items-center gap-4 mx-8 my-4">
        <input class="w-full bg-white border-2 border-gray-300 rounded-full px-4 py-2 text-sm"
            placeholder="Write a comment..." 
            [(ngModel)]="newCommentContent"/>
        <button class="px-4 py-2 bg-background rounded-full text-white disabled:opacity-50"
        [disabled]="!(newCommentContent?.trim())"
        (click)="postComment()">
            Post
        </button>
    </div>

</div>