<div class="min-h-screen bg-gradient-to-br from-primary via-secondary to-tertiary flex flex-col items-center justify-center">

    @if (!accountCreated){
        <h1 class="text-4xl mt-4 mb-12 font-semibold text-background"> Sign Up to Woofs!</h1>
  
        <img src="logo.png" alt="Logo" class="h-30 object-scale-down">

        <div class="w-full max-w-md backdrop-blur-lg bg-white/50 border border-background/40 rounded-3xl shadow-2xl p-8">
            <div class="flex flex-col m-4">

                <input class="mb-4 px-4 py-2 bg-white rounded-lg border-2 focus:outline-none"
                [ngClass]="{
                    'border-red-500': usernameCtrl.touched && (usernameErrorMessage || usernameTaken),
                    'border-success': usernameCtrl.touched && !usernameErrorMessage && !usernameTaken,
                    'border-gray-300': !usernameCtrl.touched
                }"
                type="text"
                placeholder="Username"
                [(ngModel)]="username"
                (blur)="validateUsername()"
                (ngModelChange)="validateUsername()"
                #usernameCtrl="ngModel"
                />

                <input class="mb-4 px-4 py-2 bg-white rounded-lg border-2 focus:outline-none"
                [ngClass]="{
                    'border-red-500': emailCtrl.touched && (emailErrorMessage || emailTaken),
                    'border-success': emailCtrl.touched && !emailErrorMessage && !emailTaken,
                    'border-gray-300': !emailCtrl.touched
                }"
                type="email"
                placeholder="Email"
                [(ngModel)]="email"
                (blur)="validateEmail()"
                (ngModelChange)="validateEmail()"
                #emailCtrl="ngModel"
                />

                <input class="mb-4 px-4 py-2 bg-white rounded-lg border-2 focus:outline-none"
                [ngClass]="{
                    'border-red-500': passwordCtrl.touched && passwordErrors.length > 0,
                    'border-success': passwordCtrl.touched && passwordErrors.length == 0,
                    'border-gray-300': !passwordCtrl.touched
                }"
                type="password"
                placeholder="Password"
                [(ngModel)]="password"
                (blur)="validatePassword()"
                (ngModelChange)="validatePassword()"
                #passwordCtrl="ngModel"
                />

                @if (usernameErrorMessage){
                    <div class="p-2 text-red-700">
                        {{usernameErrorMessage}} 
                    </div>
                }

                @if (usernameTaken){
                    <div class="p-2 text-red-700">
                        This username is already taken
                    </div>
                }

                @if (emailErrorMessage){
                    <div class="p-2 text-red-700">
                        {{emailErrorMessage}}
                    </div>
                }

                @if (emailTaken){
                    <div class="p-2 text-red-700">
                        This email address is already in use
                    </div>
                }

                @if (passwordErrors.length > 0){
                    <div class="p-2 text-red-700">
                        Your password must:

                        <ul>
                        @for (error of passwordErrors; track $index) {
                            <li>• {{ error }}</li>
                        }
                        </ul>
                    </div>
                }

                <button class="mt-4 p-2 rounded-lg bg-background text-white"
                [disabled]="usernameErrorMessage || usernameTaken || emailErrorMessage || emailTaken || passwordErrors.length > 0"
                (click)="signUp()">
                Sign Up 
                </button>
        
            </div>
        </div>
    }

    @if(accountCreated){
    <img src="logo.png" alt="Logo" class="h-30 object-scale-down">
    <div class="mt-6 rounded-3xl p-8 bg-success/60 text-success-dark border border-background/40">Your account was successfully created! Redirecting to login...</div>


    }


</div>