<div class="min-h-screen bg-gradient-to-br from-primary via-secondary to-tertiary flex flex-col items-center justify-center">
    <h1 class="text-4xl mt-4 mb-12 font-semibold text-background"> Sign Up to Woofs!</h1>
  
    <img src="logo.png" alt="Logo" class="h-30 object-scale-down">

    <div class="w-full max-w-md backdrop-blur-lg bg-white/50 border border-background/40 rounded-3xl shadow-2xl p-8">
        <div class="flex flex-col m-4">

            <input class="mb-4 px-4 py-2 bg-white rounded-lg border-2 focus:outline-none"
            [ngClass]="{
                'border-red-500': usernameCtrl.touched && usernameErrorMessage,
                'border-success': usernameCtrl.touched && !usernameErrorMessage,
                'border-gray-300': !usernameCtrl.touched
            }"
            type="text"
            placeholder="Username"
            [(ngModel)]="username"
            (ngModelChange)="validateUsername()"
            #usernameCtrl="ngModel"
            />

            <input class="mb-4 px-4 py-2 bg-white rounded-lg border-2 focus:outline-none"
            [ngClass]="{
                'border-red-500': emailCtrl.touched && emailErrorMessage,
                'border-success': emailCtrl.touched && !emailErrorMessage,
                'border-gray-300': !emailCtrl.touched
            }"
            type="email"
            placeholder="Email"
            [(ngModel)]="email"
            (ngModelChange)="validateEmail()"
            #emailCtrl="ngModel"
            />

            <input class="mb-4 px-4 py-2 bg-white rounded-lg border-2 focus:outline-none"
            [ngClass]="{
                'border-red-500': passwordCtrl.touched && passwordErrors.length > 0,
                'border-success': passwordCtrl.touched && passwordErrors.length == 0,
                'border-gray-300': !passwordCtrl.touched
            }"
            type="password"
            placeholder="Password"
            [(ngModel)]="password"
            (ngModelChange)="validatePassword()"
            #passwordCtrl="ngModel"
            />

            @if (usernameErrorMessage){
                <div class="mt-2 rounded bg-red/50 p-2 text-red-700">
                    {{usernameErrorMessage}} 
                </div>
            }
            @if (emailErrorMessage){
                <div class="mt-2 rounded bg-red/50 p-2 text-red-700">
                    {{emailErrorMessage}}
                </div>
            }

            @if (passwordErrors.length > 0){
                <div class="mt-2 rounded bg-red/50 p-2 text-red-700">
                    Your password must:

                    <ul>
                    @for (error of passwordErrors; track $index) {
                        <li>• {{ error }}</li>
                    }
                    </ul>
                </div>
            }

            <button class="mt-4 p-2 rounded-lg bg-background text-white"
            [disabled]="usernameErrorMessage || emailErrorMessage || passwordErrors.length > 0"
            (click)="submit()">
            Sign Up 
            </button>
        
        </div>
    </div>
</div>